<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>My Expense Tracker</title>

      
  <!-- Link stylesheets here! -->
  <!-- The order of the link tags is the order in which styles are applied -->
  <!-- If you want to override Bootstrap styling, link your own stylesheet AFTER bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />

  <!-- Import Google Fonts (https://fonts.google.com/) -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid page" id="home">
      <!-- TODO 1: Add home-page header -->
      

      <div id="home-content">
        <!-- TODO 2: Add image -->

        <br/>
        <div id="home-buttons">
          <!-- href attribute indicates what HTML page or external website to navigate to on click -->
          <!-- TODO 3: Add navigation buttons -->
 
         
        </div>
      </div>
     
    </div>

    
	<!-- Place all script tags at the bottom of the body for best loading performance -->
  <!-- Import JavaScript libraries (used to connect to the backend) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  

</body>
</html>
